{% extends 'base.html' %}

{% block content %}
{% if erreur %}
	<p>Cet utilisateur n'existe pas</p>
	<p>Vous devez vous authentifier</p>
{% else %}
	<p>Vous devez vous authentifier</p>
{% endif %}




</br>
<form action="/admin/authentifier/" method="POST">
	<fieldset>
		<legend>S'authentifier</legend>
		<label for='idlogin'>Login</label>
		<input type="text" name="login" id="idlogin"><br>
		<label for='idmdp'>Mot de passe</label>
		<input type="text" name="password" id="idpassword"><br>
		<input type="submit" name="envoyer">
	</fieldset>
	
</form>
{% endblock %}